//
// Custom navigation
// --------------------------------------------------

// Navigation
// INVERTED COLORS
// ---------------

.nav-inverted > li > a {
  color: @navInvertedLinkColor;

  &:hover {
    background: rgba(0,0,0,.16);
  }
  &:active {
    color: @navInvertedLinkColorActive;
  }
}

// Active state
.nav-inverted.nav-pills > .active > a,
.nav-inverted.nav-pills > .active > a:hover {
  color: @linkColor;
  background-color: @white;
}


// Primary
.nav-primary {
  margin-bottom: 0;
}
.nav-primary > li > a {
  font-family: @sansFontFamilyLight;
  background: @navPrimaryBackground;
  border: 1px solid @navPrimaryBorder;
  .border-radius(0);
  .box-shadow(inset 0 4px @navPrimaryBoxShadow);
  color: @navPrimaryLinkColor;
  font-size: 22px;
  line-height: 26px;
  padding: 10px 15px;

  &:hover {
    background: @navPrimaryBackgroundHover;
  }
}
.nav-primary > .active > a,
.nav-primary > .active > a:hover {
  background: @navPrimaryBackgroundActive;
}


// Secondary
.nav-secondary {
  background: @navSecondaryBackground;  
  #gradient > .vertical(@navSecondaryBackground, @navSecondaryBottomBackground);
  margin-top: (@gridGutterWidth*2);
  padding: @gridGutterWidth 0 0;

  hr {
    border-top-color: @navSecondaryhrBorder;
    margin: 5px 0;
  }
  .nav.unstyled {
    font-size: 12px;
    li {
      margin-bottom: 6px;
    }
    a {
      color: @navSecondaryLink;
    }
    a:hover {
      color: @navSecondaryLinkHover;
      text-decoration: underline;
    }
  }
  .nav-pills {
    margin-bottom: 5px;

    a {
      color: @navSecondaryTitleColor;
      font-family: @sansFontFamily;
      font-size: 16px;
    }
    a:hover {
      background: @white;
    }
  }
  .title {
    color: @navSecondaryTitleColor;
    font: 16px @sansFontFamily;
  }
}


// Navigation
#nav {
  font-size: 16px;

  .nav > li > a {
    font-weight: 700;
  }
}
.navbar-inverse .navbar-inner {
  color: @white;
}
