/*------------------------------------*\
    $CUSTOM
    $HEADER
\*------------------------------------*/


#header {
  background: @white;
  border-bottom: 1px solid @headerLinkBorder;
  color: @headerText;
  min-height: @headerHeight;
  text-align: right;

  a:hover {
    background-color: transparent;
    text-decoration: none;
  }
  .nav {
    margin: 0;
  }
  .container {
    padding: 0;
    position: relative;
  }


  // Nav Brand
  .nav-brand {
    float: left;

    a {
      display: block;
      margin-left: 20px;
      margin-right: 5px;
      padding-bottom: 18px;
      position: relative;
    }
    .brand-region {
      bottom: 0;
      color: @grayLight;
      display: block;
      font-family: arial;
      font-size: 12px;
      left: 0;
      line-height: 18px;
      position: absolute;
      white-space: nowrap;
    }
    .logo-asuris {
      // Height 45px
      margin-bottom: 5px;
      margin-top: 12px;
    }
    .logo-myasuris {
      // Height 33px
      margin-bottom: 7px;
      margin-top: 22px;
    }
    .logo-myregence {
      // Height 50px
      margin-bottom: 2px;
      margin-top: 10px;
    }
    .logo-regence-s,
    .logo-regence-cs {
      // Height 33px
      margin-bottom: 10px;
      margin-top: 19px;
    }
    .logo-regence-s .brand-region {
      left: 36px;
    }
    .logo-regence-cs .brand-region {
      left: 70px;
    }
  }

  // Nav Login 
  .nav-login {
    float: right;

    a {
      border-right: 1px solid @headerLinkBorder;
      line-height: 30px;
      padding: 25px 20px;
    }
  }


  // Nav Search  
  .nav-search {
    border-right: 1px solid @headerLinkBorder;
    float: right;

    form {
      margin: 25px;
      position: relative;
    }
    button {
      border: none;
      position: absolute;
      right: 10px;
      top: 0;

      &:hover {
        text-decoration: none;
      }
    }
  }


  // Nav Shopping
  .nav-shopping {
    border-right: 1px solid @headerLinkBorder;
    float: right;
    text-align: left;

    a {
      color: @headerLinkColor;
      display: block;
      height: 30px;
      padding: 25px 100px 25px 70px;
      position: relative;
      text-decoration: none;
      .transition(background-color .2s ease-in-out);

      &:hover {
        background-color: @headerLinkBackground;
        color: @headerLinkColorHover;
        text-decoration: none;

        small,
        [class^="icon-"] {
          color: @headerLinkColorHover;
        }
      }
    }
    a:hover .caret,
    .active > a .caret {
      border-color: @white rgba(255,255,255,0) rgba(255,255,255,0);
    }
    .active > a {
      background-color: @headerLinkBackground;
      color: @white;
      text-decoration: none;
      
      small,
      [class^="icon-"] {
        color: @white;
      }
    }
    .active > a:hover,
    .active > a:focus {
      background-color: darken(@headerLinkBackground, 4%);
    }
    .caret {
      border-top-color: @brand;
      border-top-width: 8px;
      border-right-width: 8px;
      border-left-width:  8px;
      display: block;
      margin-top: 16px;
      position: absolute;
      right: 15px;
      top: 22px;
    }
    .icon-users {
      color: @brand;
      font-size: 26px;
      left: 16px;
      height: 40px;
      line-height: 30px;
      position: absolute;
      top: 22px;
    }
    .shopping-label {
      display: block;
      font-size: 16px;
      line-height: 16px;

      small {
        color: @grayLight;
        display: block;
        font-size: 13px;
      }
    }
  }
}
.brand {
  background: url("../img/identity/identity.png") no-repeat;
  display: block;
  max-width: 250px;
  min-width: 143px;
  position: relative;
  *width: 250px;

  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}

/* Logos */
.logo-asuris {
  background-position: 0 -300px;
  height: 45px;
  width: 148px;
}
.logo-myasuris {
  background-position: 0 -400px;
  height: 33px;
  width: 176px;
}
.logo-myregence {
  background-position: 0 -200px;
  height: 50px;
  width: 250px;
}
.logo-regence-cs {
  background-position: 0 0;
  height: 33px;
  width: 180px;
}
.logo-regence-s {
  background-position: 0 -100px;
  height: 33px;
  width: 145px;
}
/* High Res Support */
@media all and (-webkit-min-device-pixel-ratio : 1.5) {

  .backgroundsize .brand {
    background-image: url("../img/identity/identity@2x.png");
    background-size: 250px auto; /* Actual width is 450px */
  }
}

/* SVG Support */
.svg.backgroundsize .logo-regence-cs {
  background: url("../img/identity/regence-cs.svg") no-repeat 0 0;
  background-size: 178px auto;
}
.svg.backgroundsize .logo-regence-s {
  background: url("../img/identity/regence-s.svg") no-repeat 0 0;
  background-size: 143px auto;
}
.svg.backgroundsize .logo-myregence {
  background: url("../img/identity/myregence.svg") no-repeat 0 0;
  background-size: 250px auto;
}
.svg.backgroundsize .logo-asuris {
  background: url("../img/identity/asuris.svg") no-repeat 0 0;
  background-size: 148px auto;
}
.svg.backgroundsize .logo-myasuris {
  background: url("../img/identity/myasuris.svg") no-repeat 0 0;
  background-size: 176px auto;
}
